/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Tool bar  */

.toolbar {
    display: flex;
    margin-bottom: 60px;
}

.toolbar button {
    padding: 0;
    border-radius: 50%;
    margin: 0 5px;
}

.text_button {
    position: absolute;
    top: 0;
    left: 0;
}
.text_button img {
    width: 30px;
    height: 30px;
}
.add_button {

    padding: 0;
    margin: 5px;
    position: relative;
    width: 30px;
    height: 30px;

}



/* Table */

.search {
    width: 120px;
    height: 30px;
    padding-left: 5px;
}

th div {
    width: 123px;


}
th {
    padding: 0; 
}

.scroll-table {
    padding-top: 0px;
    overflow-y: scroll;
    position: relative;
    height: 700px;
}
.tbody {
    overflow-y: scroll;
    height: 700px;
}

thead {
    background-color: #fff;
     position: sticky;
     z-index: 2;
     top: -3px;
     left: 0;
}


