/* Size for brand */

nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Tool bar  */

.toolbar {
    display: flex;
    margin-bottom: 60px;
}

.toolbar button {
    padding: 0;
    border-radius: 50%;
    margin: 0 5px;
}

.text_button {
    position: absolute;
    top: 0;
    left: 0;
}
.text_button img {
    width: 30px;
    height: 30px;
}
.add_button {

    padding: 0;
    margin: 5px;
    position: relative;
    width: 30px;
    height: 30px;

}



/* Table */

.search {
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

th div {
    width: 123px;
    text-align: center;


}
th {
    padding: 0; 
}

.scroll-table {
    padding-top: 0px;
    overflow-y: scroll;
    position: relative;
    max-height: 700px;
}
.tbody {
    overflow-y: scroll;
    max-height: 700px;
}

thead {
    background-color: #fff;
     position: sticky;
     z-index: 2;
     top: -3px;
     left: 0;
}


.icon_reset {
    width: 20px;
    height: 20px;
}

/* Title Form */

.item {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    margin-bottom: 9px;
}

.item .form-control {
    left: 0;
    width: 80%;
}



.item a {
    margin-left: 9px;
    width: 25%;
    text-align: left;
}

.checkboxes {
    margin-left: 10px;
}


.false {
    display: none;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Файл не выбран';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}