{% extends "layout.html" %}

{% block title %}
  ПК
{% endblock %}

{% block main %}
    <script src="./static/js/search.js"></script>
    <main class="container py-5 text-center">
        <div class="toolbar">

            <button id="search_button" title="ПОИСК">
                <div class="add_button">
                    <div class="text_button"><img src="../static/images/icons/search.png" alt=""></div>
                </div>
            </button>
            <button id="add_button" title="ДОБАВИТЬ ЭЛЕМЕНТ В ТАБЛИЦУ">
                <div class="add_button">
                    <div class="text_button"><img src="../static/images/icons/plus.png" alt=""></div>
                </div>
            </button>
        </div>
        <div class='scroll-table'>
            <table id="table-view" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Тип</th>
                        <th class="text-center">Класс</th>
                        <th class="text-center">Материнская плата</th>
                        <th class="text-center">ОЗУ</th>
                        <th class="text-center">Жесткий диск</th>
                        <th class="text-center">Видеокарта</th>
                        <th class="text-center">Процессор</th>
                        <th class="text-center">Наличие CD-rom</th>
                        <th class="text-center">Наличие внешней сетевой карты</th>
                        <th class="text-center">Версия ОС</th>
                        <th class="text-center">ПО</th>
                        <th class="text-center">Инфентарный номер</th>
                        <th class="text-center">Сетевое название</th>
                        <th class="text-center">Имя пользователя</th>
                        <th class="text-center">Имя пользователя</th>
                        <th class="text-center">IP адрес</th>
                        <th class="text-center">Внешний IP адрес</th>
                        <th class="text-center">Номер требования</th>
                        <th class="text-center">Имя пользователя</th>
                    </tr>
                </thead>

                <tbody class="tbody">
                    <tr>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                        <td class="text-start"><input class="search" type="text"></td>
                    </tr>
                {% for stock in stocks %}
                    <tr>
                        <td class="text-start">{{ stock["symbol"] }}</td>
                        <td class="text-start">{{ stock["name"] }}</td>
                        <td class="text-start">{{ stock["count"] }}</td>
                        <td class="text-start">{{ stock["price"] }}</td>
                        <td class="text-start">{{ stock["total"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                
            </table>
        </div>
        </div>
    </main>

{% endblock %}