{% extends "layout.html" %}

{% block title %}
  ТИТУЛЬНЫЙ
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="id_pc" name="id_pc" placeholder="ID ПК" type="text">
            <a><i>все пк...</i></a>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="structure" name="structure" placeholder="Структурное подразделение" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="employee" name="employee" placeholder="ID сотрудника" type="text">
            <a><i>все сотрудники...</i></a>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="corpus" name="corpus" placeholder="Корпус" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="room" name="room" placeholder="Комната" type="text">
        </div>
        <div class="mb-3">
            Тип оргтехнического оборудования
            <div>
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
                <input class="form-control mx-auto w-auto" id="type_office_equipment" name="monitor" type="flag">Монитор
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="text">
        </div>
      
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
{% endblock %}